h1, p {
  text-align: center;
  
}
h1{
  text-shadow: 5px 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
form {
  display: grid;
  padding: 1em;
  background: #ece9e9;
  border: 1px solid #c1c1c1;
  margin: 0.5rem auto 0 auto;
  max-width: 600px;
  padding: 1em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
form input {
  background: #fff;
  border: 1px solid #9c9c9c;
}
form input:focus {
  background: #fff;
  border: 1px solid #9c9c9c;
}

label {
  padding: 0.2em 0.2em 0.2em 0;
}

input, button {
  padding: 0.2em;
  margin-bottom: 0.2em;
  border-radius: 5px;
}

span {
	font-size: 14px;
	color: red;
	padding: 0.1rem;
	margin-bottom: 0.1rem;
}

button {
  border-color: dimgray;
  font-size: 14px;
}

button:hover {
  background-color: dimgray;
  border-color: dimgray;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

textarea {
	max-width: auto;
}

@media (min-width: 400px) {
  form {
    grid-template-columns: 200px 1fr;
    grid-gap: 14px;
  }

  label {
    text-align: right;
    grid-column: 1 / 2;
  }
  
  label1 {
    text-align: left;
    grid-column: 2 / 3;
  }

  input, span, button {
    grid-column: 2 / 3;
  }
}
